* {
    font-family: 'Roboto', sans-serif;

}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    flex: 1 0 auto;
    /* background-image: url("../images/hd-wallpaper-gb320dc7af_1920.jpg"); */
}

a {
    text-decoration: none;
}

#nav {
    display: flex;
    flex-direction: row;
    background-color: rgb(255, 255, 255);
    justify-content: flex-end;
    margin: 20px;
    padding: 20px;
    gap:10px;
    color: rgb(171, 171, 220);
    text-shadow: 1px 1px 1px #dfdfdf;
    font-size: 16px;
    box-shadow: 20px;

}

#name {
    margin: 10px;
}

#time {
   display:flex;
   justify-content: flex-end;

}

#main {
    display: flex;
    flex-flow: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: stretch;
}

#about {
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    flex: 0 0 200px;
    margin: 20px;
    padding: 20px;
}

#text-box {
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    margin: 20px;
    padding: 20px;
    flex: 0 0 200px;
}

#footer {
    display: flex;
    flex: auto;
    align-items: flex-end;
}