body {
    background-color: rgb(32, 32, 139);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    flex: 1 0 auto;
    color: rgb(179, 153, 217);
    font-family: 'Roboto', sans-serif;
    /* background-image: url("../images/hd-wallpaper-gb320dc7af_1920.jpg"); */
}

.lightmode {
    image: url("../images/lightmode.png");
    background-color: rgb(148, 148, 217);
    color: rgb(32, 32, 139);
}

.darkmode {
    image: url("../images/darkmode.png");
    background-color: rgb(32, 32, 139);
    color: rgb(179, 153, 217);
}

#nav {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    margin: 20px;
    padding: 20px;
    gap: 20px;
    font-size: 18px;
    color: aliceblue;
}

#logo {
    display: flex;
    margin-right: auto;

}

a:link {
    color: white;
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}



#name {
    margin: 10px;
}

#time {
    display: flex;
    justify-content: flex-end;

}

#main {
    display: flex;
    flex-flow: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: stretch;
}

#about {
    display: flex;
    flex-direction: column;
    margin-right: auto;
    flex: 0 0 200px;
    padding: 40px;
}



#footer {
    display: flex;
    flex: auto;
    align-items: flex-end;
}